testViberBot.json
[{"id":"268927f9.b0ad48","type":"tab","label":"Test","disabled":false,"info":""},{"id":"5fccdb29.807324","type":"inject","z":"268927f9.b0ad48","name":"Start hook setup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["7bd88bfd.ce96d4"]]},{"id":"9c0a74a6.4cafb8","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":40,"wires":[]},{"id":"d371975d.d9ae68","type":"http request","z":"268927f9.b0ad48","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":100,"wires":[["9c0a74a6.4cafb8","29bd3029.8a832"]]},{"id":"7bd88bfd.ce96d4","type":"function","z":"268927f9.b0ad48","name":"Set Viber Webhook","func":"\n\nmsg.method = \"POST\"\nmsg.url = \"https://chatapi.viber.com/pa/set_webhook\"\n\nmsg.headers = {\n    \"X-Viber-Auth-Token\": '4d6103cee8a7d15a-eb3d7f46a74b34ba-1cfabc97e31c5308', \n    \"Content-Type\": \"application/json\",\n};\n\nmsg.payload = {\n    \"url\": \"https://0b4ed20e01e4.ngrok.io/testbyme\",\n    \"status_message\":\"ok\",\n    \"event_types\": [\n        \"message\",\n        \"subscribed\",\n        \"unsubscribed\",\n     //   \"delivered\",\n    //    \"seen\",\n    //    \"failed\",\n        \"conversation_started\",\n        \"get_user_details\"\n    ],\n   \"send_name\": true,\n   \"send_photo\": true\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":100,"wires":[["d371975d.d9ae68","11eadaf4.cf0c75"]]},{"id":"c6981ab8.a1cda8","type":"http response","z":"268927f9.b0ad48","name":"200","statusCode":"200","headers":{},"x":130,"y":540,"wires":[]},{"id":"46c5186.d1313e8","type":"debug","z":"268927f9.b0ad48","name":"Show http request from user","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":240,"y":680,"wires":[]},{"id":"11eadaf4.cf0c75","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":160,"wires":[]},{"id":"29bd3029.8a832","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"4591b38e.aff62c","type":"http in","z":"268927f9.b0ad48","name":"/testbyme","url":"/testbyme","method":"post","upload":false,"swaggerDoc":"","x":80,"y":600,"wires":[["c6981ab8.a1cda8","46c5186.d1313e8","9a116180.476a3"]]},{"id":"52778311.59a94c","type":"function","z":"268927f9.b0ad48","name":"Meetings Message","func":"\nmsg.url = \"https://chatapi.viber.com/pa/send_message\"\n\nmsg.headers = {\n\n    \"X-Viber-Auth-Token\": '4d6103cee8a7d15a-eb3d7f46a74b34ba-1cfabc97e31c5308', \n    \"Content-Type\": \"application/json\",\n};\nmsg.payload = {\n   \"receiver\": msg.receiver_id,\n   \"min_api_version\": 1,\n   \"type\":\"text\",\n   \"text\": \"Давай знайомитися ближче...\\nПідкажи мені як тебе звати?\",\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2090,"y":240,"wires":[["95c68694.4c1c68","6af880aa.ae857"]]},{"id":"6d5dd44a.f6b99c","type":"http request","z":"268927f9.b0ad48","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1890,"y":1720,"wires":[["ab60cef4.fb808","bfc1ffc7.d4b51"]]},{"id":"ab60cef4.fb808","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1930,"y":1780,"wires":[]},{"id":"f31d26cb.c3a358","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":1780,"wires":[]},{"id":"54b3f308.78a8bc","type":"openweathermap","z":"268927f9.b0ad48","name":"","wtype":"current","lon":"","lat":"","city":"Lviv","country":"Ukraine","language":"uk","x":1290,"y":1720,"wires":[["15bbe864.218128","ac2e7ac2.88f128"]]},{"id":"ac2e7ac2.88f128","type":"function","z":"268927f9.b0ad48","name":"","func":"\nmsg.method = \"POST\";\nmsg.url = \"https://chatapi.viber.com/pa/send_message\"\n\nmsg.headers = {\n\n    \"X-Viber-Auth-Token\": '4d6103cee8a7d15a-eb3d7f46a74b34ba-1cfabc97e31c5308', \n    \"Content-Type\": \"application/json\",\n};\nmsg.payload = { \n\n  \"receiver\": \"9rr+TYee5W35jMOpd/cFcw==\" ,\n  \"min_api_version\": 3,\n  \"type\":\"text\",\n  \"text\":  msg.payload.detail\n  \n    \n}\n\nreturn msg;\n\n// if (msg.payload.weather === \"Clear\") {\n//     msg.payload = {\n//   \"receiver\": \"9rr+TYee5W35jMOpd/cFcw==\" ,\n//   \"min_api_version\": 3,\n//   \"type\":\"text\",\n//   \"text\": \"Clear skies ahead today!\",\n\n//   }\n//     return msg;\n// }\n\n\n\n//return nul","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":1720,"wires":[["6d5dd44a.f6b99c","f31d26cb.c3a358"]]},{"id":"6af880aa.ae857","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":300,"wires":[]},{"id":"15bbe864.218128","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":1780,"wires":[]},{"id":"ca48f951.7cef88","type":"function","z":"268927f9.b0ad48","name":"Invitation Message","func":"\nmsg.url = \"https://chatapi.viber.com/pa/send_message\"\n\nmsg.headers = {\n\n    \"X-Viber-Auth-Token\": '4d6103cee8a7d15a-eb3d7f46a74b34ba-1cfabc97e31c5308', \n    \"Content-Type\": \"application/json\",\n};\nmsg.payload = {\n   \"receiver\": msg.receiver_id, \n   \"min_api_version\": 1,\n   \"type\":\"text\",\n   \"text\": \"Привіт!\\nЯ твій особистий бот (flirt) Підказуватиму тобі погоду у твоєму місті\",\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":240,"wires":[["2ba2bb8c.720924","7d3b1210.0449bc","1b869122.ec9b4f"]]},{"id":"95c68694.4c1c68","type":"http request","z":"268927f9.b0ad48","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2330,"y":240,"wires":[["1cd30182.53374e"]]},{"id":"1cd30182.53374e","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2530,"y":240,"wires":[]},{"id":"2ba2bb8c.720924","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":280,"wires":[]},{"id":"7d3b1210.0449bc","type":"http request","z":"268927f9.b0ad48","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":180,"wires":[[]]},{"id":"9d83b863.3d74b8","type":"function","z":"268927f9.b0ad48","name":"Update name into DB","func":"msg.collection = 'user';\nmsg.operation  = 'update';\n\nmsg.payload    = [\n    { 'chat_id' : msg.receiver,\n    },\n        {\n        \"$set\":{\n            \"receiver\": msg.receiver_id,\n            'step': 'EnterCity',\n            \"name\": msg.req.body.message.text\n            \n        }\n    }\n]\nmsg.payload.options = {upsert: true};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":580,"wires":[["2704b0e2.20729","9f3eb8d9.1b0db8"]]},{"id":"2704b0e2.20729","type":"mongodb3 in","z":"268927f9.b0ad48","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"","operation":"update","x":1700,"y":580,"wires":[["d97901b9.969b4","48e68174.15469"]]},{"id":"d97901b9.969b4","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1770,"y":500,"wires":[]},{"id":"6834127f.9310bc","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":660,"wires":[]},{"id":"16f4a076.d5b68","type":"switch","z":"268927f9.b0ad48","name":"State Step","property":"payload.step","propertyType":"msg","rules":[{"t":"eq","v":"EnterName","vt":"str"},{"t":"eq","v":"EnterCity","vt":"str"},{"t":"eq","v":"CityForecast","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1070,"y":600,"wires":[["abe87df8.121d1","9d83b863.3d74b8"],["9ab94b6d.409c68","1837b9a3.c2e3c6"],["1eb5ab23.217555"]]},{"id":"48e68174.15469","type":"function","z":"268927f9.b0ad48","name":"Message to Enter City","func":"\nmsg.url = \"https://chatapi.viber.com/pa/send_message\"\n\nmsg.headers = {\n\n    \"X-Viber-Auth-Token\": '4d6103cee8a7d15a-eb3d7f46a74b34ba-1cfabc97e31c5308', \n    \"Content-Type\": \"application/json\",\n};\nmsg.payload = {\n   \"receiver\": msg.receiver_id,\n   \"min_api_version\": 1,\n   \"type\":\"text\",\n   \"text\": \"Введіть Ваше місто?\",\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":580,"wires":[["ecef9257.228fd"]]},{"id":"1837b9a3.c2e3c6","type":"function","z":"268927f9.b0ad48","name":"Enter City to DB","func":"msg.collection = 'user';\n//msg.operation  = 'update';\n//msg.url = \"https://chatapi.viber.com/pa/set_webhook\"\n\nmsg.payload    = [\n    { \"receiver\": msg.receiver_id\n    },\n        {\n        \"$set\":{\n            \"receiver\": msg.receiver_id,\n            \"city\": msg.req.body.message.text\n            \n        }\n    }\n]\nmsg.payload.options = {upsert: true};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":780,"wires":[["760aee0a.5ae3c","dacf8a8f.b4c418"]]},{"id":"760aee0a.5ae3c","type":"mongodb3 in","z":"268927f9.b0ad48","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"","operation":"update","x":1620,"y":780,"wires":[["943dc501.55c0a8","e429cbd1.5a9168"]]},{"id":"943dc501.55c0a8","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1770,"y":820,"wires":[]},{"id":"95423176.3c85e","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2510,"y":580,"wires":[]},{"id":"ecef9257.228fd","type":"http request","z":"268927f9.b0ad48","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2290,"y":580,"wires":[["95423176.3c85e"]]},{"id":"1b869122.ec9b4f","type":"function","z":"268927f9.b0ad48","name":"Insert User ID to DB","func":"msg.collection = 'user';\nmsg.operation  = 'insert';\nmsg.payload    = {\n\n    'step': 'EnterName',\n    \"receiver\": msg.receiver_id,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":240,"wires":[["f66631c8.1e075"]]},{"id":"f66631c8.1e075","type":"mongodb3 in","z":"268927f9.b0ad48","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"","operation":"insert","x":1650,"y":240,"wires":[["292aafa4.8b918","70e25029.583ce"]]},{"id":"292aafa4.8b918","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":300,"wires":[]},{"id":"abe87df8.121d1","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":440,"wires":[]},{"id":"ded80d7f.bc8af","type":"function","z":"268927f9.b0ad48","name":"Getting Row","func":"msg.collection = 'user';\nmsg.operation  = 'findOne';\nmsg.payload=[\n    \n    {\n        $query:{\n            'receiver' : msg.receiver_id\n            \n        }\n        \n    }\n] \nmsg.payload.options = {upsert: true};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":600,"wires":[["7ef563c4.4c374c","28694d3c.f23502"]]},{"id":"7ef563c4.4c374c","type":"mongodb3 in","z":"268927f9.b0ad48","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"","operation":"findOne","x":600,"y":600,"wires":[["5bab99ae.8c1028"]]},{"id":"5bab99ae.8c1028","type":"switch","z":"268927f9.b0ad48","name":"emptyPayload","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":600,"wires":[["d94f570a.cda488"],["16f4a076.d5b68","6834127f.9310bc"]]},{"id":"d751a9fd.36e5a8","type":"function","z":"268927f9.b0ad48","name":"Message How to know weather","func":"\nmsg.url = \"https://chatapi.viber.com/pa/send_message\"\n\nmsg.headers = {\n\n    \"X-Viber-Auth-Token\": '4d6103cee8a7d15a-eb3d7f46a74b34ba-1cfabc97e31c5308', \n    \"Content-Type\": \"application/json\",\n};\nmsg.payload = {\n   \"receiver\": msg.receiver_id,\n   \"min_api_version\": 1,\n   \"type\":\"text\",\n   \"text\": \"Бажаєте дізнатися прогноз погоди?\",\n   \n      \"keyboard\":{\n      \"Type\":\"keyboard\",\n      \"DefaultHeight\":true,\n      \"InputFieldState\" : \"hidden\",\n      \"Buttons\":[\n         {\n            \"BgColor\":\"#3fbdbf\",\n            \"Columns\": 6,\n\t\t\t\"Rows\": 1,\n            \"ActionType\":\"reply\",\n            \"ActionBody\":\"Pogoda\",\n            \"Text\":\"Що у нас з погодою ?\",\n            \"TextSize\":\"large\",\n            \n         }\n      ]\n  },\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2410,"y":780,"wires":[["b2e75731.0de168","7584c741.43c758"]]},{"id":"7584c741.43c758","type":"http request","z":"268927f9.b0ad48","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2650,"y":780,"wires":[["738f9ebc.cc146","599ac073.cc8fd"]]},{"id":"738f9ebc.cc146","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2670,"y":820,"wires":[]},{"id":"9ab94b6d.409c68","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":540,"wires":[]},{"id":"9f3eb8d9.1b0db8","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":500,"wires":[]},{"id":"28694d3c.f23502","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":370,"y":540,"wires":[]},{"id":"b2e75731.0de168","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2490,"y":820,"wires":[]},{"id":"1eb5ab23.217555","type":"switch","z":"268927f9.b0ad48","name":"Click onWeather Button","property":"req.body.message.text","propertyType":"msg","rules":[{"t":"eq","v":"Pogoda","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1170,"y":1040,"wires":[["d318182.238cbe8","51d6e402.a5cccc"]]},{"id":"c4cbdee6.c8b12","type":"function","z":"268927f9.b0ad48","name":"Send Forecast into a Bot","func":"msg.method = \"POST\";\n\nmsg.url = \"https://chatapi.viber.com/pa/send_message\"\n\nmsg.headers = {\n    \"X-Viber-Auth-Token\": '4d6103cee8a7d15a-eb3d7f46a74b34ba-1cfabc97e31c5308', \n    \"Content-Type\": \"application/json\",\n};\n\nmsg.payload = {\n   \"receiver\": msg.receiver_id,\n   \"min_api_version\": 1,\n   \"type\": \"text\",\n   \"text\": \"Температура повітря \" + msg.payload.main.temp + \"  \\n\"+ \"Швидкість вітру \" +msg.payload.wind.speed\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2030,"y":1040,"wires":[["1db97e9f.794841","9e318551.dcb8d8"]]},{"id":"1db97e9f.794841","type":"http request","z":"268927f9.b0ad48","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2270,"y":1040,"wires":[["22b73406.a7944c"]]},{"id":"d318182.238cbe8","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1230,"y":1100,"wires":[]},{"id":"22b73406.a7944c","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2330,"y":1100,"wires":[]},{"id":"9a116180.476a3","type":"change","z":"268927f9.b0ad48","name":"Set receiver id","rules":[{"t":"set","p":"receiver_id","pt":"msg","to":"payload.sender.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":460,"wires":[["ded80d7f.bc8af"]]},{"id":"599ac073.cc8fd","type":"function","z":"268927f9.b0ad48","name":"Update Step to receive Forecast","func":"msg.collection = 'user';\nmsg.operation  = 'update';\n\nmsg.payload    = [\n    { \"receiver\": msg.receiver_id,\n    },\n        {\n        \"$set\":{\n            \"receiver\": msg.receiver_id,\n            'step': 'CityForecast',\n            \n        }\n    }\n]\nmsg.payload.options = {upsert: true};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2930,"y":780,"wires":[["f0688e4f.57bb9"]]},{"id":"f0688e4f.57bb9","type":"mongodb3 in","z":"268927f9.b0ad48","service":"_ext_","configNode":"b00c00c3.c74cd","name":"","collection":"","operation":"update","x":3240,"y":780,"wires":[[]]},{"id":"bfc1ffc7.d4b51","type":"function","z":"268927f9.b0ad48","name":"Update step back to UserRegistered","func":"msg.collection = 'user';\nmsg.operation  = 'update';\n\nmsg.payload    = [\n    { \n        'chat_id' : msg.receiver,\n    },\n        {\n        \"$set\":{\n            \"receiver\": msg.receiver_id,\n            'step': 'UserRegistered',\n        }\n    }\n]\nmsg.payload.options = {upsert: true};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2210,"y":1720,"wires":[["f6c0ca62.bc3848"]]},{"id":"f6c0ca62.bc3848","type":"http request","z":"268927f9.b0ad48","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2550,"y":1720,"wires":[["342f1cc1.8a8974"]]},{"id":"342f1cc1.8a8974","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2570,"y":1780,"wires":[]},{"id":"51d6e402.a5cccc","type":"function","z":"268927f9.b0ad48","name":"Get Weather Data","func":"msg.method = \"GET\";\n\nmsg.url = encodeURI(\"http://api.openweathermap.org/data/2.5/weather?q=\" + msg.payload.city + \"&units=metric&appid=0d3ae88bd04b55c6ba5d7c696127111f&lang=ua\");\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":1040,"wires":[["5fb264a7.09f5ac","5c47d590.3a309c"]]},{"id":"5fb264a7.09f5ac","type":"http request","z":"268927f9.b0ad48","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":1040,"wires":[["df3e2173.72acb","c4cbdee6.c8b12"]]},{"id":"5c47d590.3a309c","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":1100,"wires":[]},{"id":"df3e2173.72acb","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1770,"y":1100,"wires":[]},{"id":"9e318551.dcb8d8","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2030,"y":1100,"wires":[]},{"id":"70e25029.583ce","type":"delay","z":"268927f9.b0ad48","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1880,"y":240,"wires":[["52778311.59a94c"]]},{"id":"e429cbd1.5a9168","type":"function","z":"268927f9.b0ad48","name":"TNX for Data Message","func":"msg.url = \"https://chatapi.viber.com/pa/send_message\"\n\nmsg.headers = {\n\n    \"X-Viber-Auth-Token\": '4d6103cee8a7d15a-eb3d7f46a74b34ba-1cfabc97e31c5308', \n    \"Content-Type\": \"application/json\",\n};\nmsg.payload = {\n   \"receiver\": msg.receiver_id,\n   \"min_api_version\": 1,\n   \"type\":\"text\",\n   \"text\": \"Дякуємо за надану інформацію!\",\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":780,"wires":[["fe3a15e0.1ff9b8","1e8516c7.3f3ec9"]]},{"id":"fe3a15e0.1ff9b8","type":"http request","z":"268927f9.b0ad48","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1960,"y":880,"wires":[["de1a1105.045b8"]]},{"id":"de1a1105.045b8","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2160,"y":920,"wires":[]},{"id":"1e8516c7.3f3ec9","type":"delay","z":"268927f9.b0ad48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2130,"y":780,"wires":[["d751a9fd.36e5a8"]]},{"id":"dacf8a8f.b4c418","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1580,"y":700,"wires":[]},{"id":"d94f570a.cda488","type":"switch","z":"268927f9.b0ad48","name":"start","property":"req.body.message.text","propertyType":"msg","rules":[{"t":"cont","v":"start","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1050,"y":400,"wires":[["f7de5ddf.3afd6","ca48f951.7cef88"]]},{"id":"f7de5ddf.3afd6","type":"debug","z":"268927f9.b0ad48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":360,"wires":[]},{"id":"b00c00c3.c74cd","type":"mongodb3","uri":"mongodb://localhost:27017/BA_Intership","name":"BA_Intership","options":"","parallelism":"-1"}]